.add-client {
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    margin-right: 30px;
    border-radius: 5px;
    overflow-x: auto;
}

.add-client-section {
    background-color: #fff;
}

.add-client-section-title {
    padding: 20px;
    background-color: #16aa03;
    color: #fff;
    font-weight: 100;
}

.add-client-section-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-client-section-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    padding: 10px 15px;
}

.add-client-section-form-container-label {
    width: 100%;
    margin-bottom: 10px;
}

.add-client-section-form-container-input {
    padding: 10px 7px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 14px;
}

.add-client-section-form-button {
    padding: 10px;
    width: 170px;
    cursor: pointer;
    background-color: #16aa03;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    margin: 30px 15px 15px 15px;
    font-size: 15px;
}

.add-client-section-form-button:hover {
    background-color: #118601;
}

@media screen and (max-width: 800px) {
    .add-client {
        height: 100%;
        margin-bottom: 30px;
    }

    .add-client-section-form-container {
        width: 100%;
    }
}