.home {
    width: 100%;
    overflow-x: auto;
}

.home-banner {
    width: 100%;
}

.bg-general {
    margin: 20px;
    box-shadow: 0px 0px 20px 10px rgba(134, 134, 134, 0.15);
    border: 1px solid #f8f8f8;
    border-radius: 5px;
}
