nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #051c2e;
    padding: 12px !important;
}

header {
    height: 100%;
}

.nav-logo {
    width: 160px;
    cursor: pointer;
    margin-left: 30px;
}

.nav-menu-button {
    outline: 2px solid #fff;
}

.nav-menu-button-icon {
    font-size: 16px;
}

.nav-li {
    cursor: pointer;
}

.nav-li:hover {
    background-color: #0c4b7a;
    border-radius: 5px;
}

.nav-li-icon {
    cursor: pointer;
}

.nav-li-dropdown:hover {
    background-color: #125f9b;
}

.nav-dropdown-list {
    background-color: #051c2e;
    border: none;
    padding: 5px;
}

.nav-user {
    width: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px #525252;
    cursor: pointer;
}

.nav-dropdown-list-item:hover {
    background-color: #125f9b;
    border-radius: 5px;
}

.swal2-theme-dark {
    background-color: #051c2e;
    color: white;
  }
  
.swal2-popup .swal2-confirm, .swal2-popup .swal2-deny {
    background-color: #ffffff;
    color: #333;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        margin-top: 20px;
    }

    .nav-dropdown-list {
        background-color: transparent;
        border: none;
        padding-top: 0px;
    }
    
    .nav-dropdown-list-item:hover {
        background-color: #125f9b;
        border-radius: 5px;
    }
}