.sidebar {
  background-color: #051c2e !important;
  border-radius: 10px;
  flex: 1 !important;
  align-self: stretch !important;
  height: auto !important;
  min-height: 800px;
}

.pro-menu {
  padding: 0 !important;
  margin: 0;
}

nav ul {
  width: 100%;
}

nav ul li {
  margin: 0;
}

.sc-cfxfcM {
  transition: 0.5s;
}

.sc-cfxfcM:hover {
  background-color: #0f3e61 !important;
  border-radius: 5px;
}
