.no-outline:active, .no-outline:focus{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    transition: none !important;
}

.sidebar {
    width: 200px;
    background-color: #0f3049;
}

.sidebar-li:hover {
    background-color: #051c2e;
}

.sidebar-label {
    background-color: #051c2e;
}

.sidebar-dropdown {
    background-color: #0f3049;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 120px;
    }
}