* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: none;
  min-width: 100%;
}

.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #051c2e !important;
}

.custom-select {
  width: 40px !important;
}
