* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  max-width: none;
  min-width: 100%;
}

.form-control:active,
.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #051c2e !important;
}

.custom-select {
  width: 40px !important;
}

.sc-dAbbOL {
  display: none !important;
}

td {
  align-self: center !important;
}

.dataTables_length {
  align-items: center !important;
}

.fUDToy {
  border: none !important;
}

.swal2-title,
.swal2-icon {
  overflow-y: hidden !important;
}

.swal2-confirm {
  background-color: #051c2e !important;
  color: #fff !important;
}
