.inventory {
    width: 100%;
}

.inventory-title {
    background-color: rgb(5, 28, 46);
    margin-bottom: 20px;
}

td {
    align-self: center !important;
}

.dataTables_length {
    align-items: center !important;
}

.sc-jEACwC {
    width: 100% !important;
    min-width: 100%;
    margin: 0px;
}